<form [formGroup]="priceForm" (ngSubmit)="onSubmit()" class="form-group">
  <h1 mat-dialog-title *ngIf="!price">Нова ціна/послуга</h1>
  <h1 mat-dialog-title *ngIf="price">Оновити дані про послугу</h1>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>Тип послуги</mat-label>
      <mat-select formControlName="priceType">
        <mat-option required *ngFor="let item of Services | enumToArray" [value]="item.value">{{ item.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="user-input part-width">
      <mat-label>Ціна послуги</mat-label>
      <input matInput required formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="user-input full-width">
      <mat-label>Опис послуги</mat-label>
      <textarea matInput required formControlName="priceName"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Закрити</button>
    <button
      *ngIf="!price"
      mat-raised-button
      color="primary"
      cdkFocusInitial
      type="submit"
    >
      Зберегти
    </button>
    <button
      *ngIf="price"
      mat-raised-button
      color="primary"
      cdkFocusInitial
      type="submit"
    >
      Оновити
    </button>
  </mat-dialog-actions>
</form>
