/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
  height: calc(100vh - 100px);
  width: 80%;
  border-radius: 10px;
  margin: 80px 16px 16px 250px;

  display: flexbox;
  justify-content: center;
  align-items: right;

  font-size: 1rem;
  color: rgb(71, 71, 71);


  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
