<mat-toolbar class="mat-elevation-z8 regum-header">
  <div>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Regym
  </div>
  <button mat-raised-button color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Вийти
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Текстовки</span>
    </button>

    <button mat-button class="menu-button" routerLink="/price-table">
      <mat-icon>monetization_on</mat-icon>
      <span>Ціни і послуги</span>
    </button>

    <button mat-button class="menu-button" routerLink="/schedule">
      <mat-icon>schedule</mat-icon>
      <span>Графік занять</span>
    </button>

    <button mat-button class="menu-button" routerLink="/user-table">
      <mat-icon>supervisor_account</mat-icon>
      <span>Тренери</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admins-info">
      <mat-icon>engineering</mat-icon>
      <span>Адміни</span>
    </button>


    <button mat-button class="menu-button" routerLink="/feedback-table">
      <mat-icon>feedback</mat-icon>
      <span>Відгуки</span>
    </button>

    <button mat-button class="menu-button" routerLink="/enroll-table">
      <mat-icon>edit_square</mat-icon>
      <span>Записи</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button disabled class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Допомога</span>
    </button>
  </mat-sidenav>
</mat-sidenav-container>
