/* You can add global styles to this file, and also import other style files */
@import "./mixins";
@import "./variables";
@import "./neo";

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Raleway',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 0.21px;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-content {
  height: calc(100vh - 100px);
  width: 80%;
  border-radius: 10px;
  margin: 80px 16px 16px 250px;

  display: flexbox;
  justify-content: center;
  align-items: right;

  font-size: 1rem;
  color: rgb(71, 71, 71);


  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
