<div class="main-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Список користувачів
      </li>
    </ol>
  </nav>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Ім'я</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surName">
      <th mat-header-cell *matHeaderCellDef>Прізвище</th>
      <td mat-cell *matCellDef="let element">{{ element.surName }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Опис</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Ролі</th>
      <td mat-cell *matCellDef="let element">{{ element.roles }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" class="button-row">
      <th mat-header-cell *matHeaderCellDef>Дії</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          aria-label="Змінити"
          (click)="editUser(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Видалити"
          (click)="deleteUser(element.userGuid)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 9]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>

  <div class="example-button-container">
    <button mat-fab color="primary" aria-label="Додати користувача">
      <mat-icon (click)="openDialog()">person_add</mat-icon>
    </button>
  </div>
</div>
